.widget {
    width: 90%;
    margin: 0 auto;
    height: 800px;
    overflow: auto;
}

.widget .hidden {
    display: none !important;
}

input[type="checkbox"] {
    opacity: 0;
    display: inline-block;
    width: 20px;
}

input[type="checkbox"] ~ ul {
    /*transform: ScaleY(0);*/
    /*transform-origin: top;*/
    /*transition: transform 0.26s ease;*/
    max-height: 0px;
    transition: max-height 0.5s linear;

    overflow: hidden;
}
input[type="checkbox"]:checked ~ ul {
    /*transform: ScaleY(1);*/
    max-height: 1000px;
}

input[type="search"] {
    margin: 10px;
    width: 90%;
}

label {
    font-weight: bold;
    margin-left: -20px;
}

label:hover, label:before:hover {
    cursor: pointer;
}

label:before {
    content:"\0394";
    display: inline-table;
    transform: rotate(90deg);
    transition: all 0.4s ease;
}

label:after {
    content: " (" attr(data-count) ")";
}

input[type="checkbox"]:checked ~ label:before {
    transform: rotate(180deg);
}

#list {
    display: flex;
    flex-wrap: wrap;
}

#list ul {
    /*padding: 5px;*/
}

#list ul, #list li {
    white-space: nowrap;
}
#list li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#list > div {
    display: inline-table;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 10px;
    width: 32%;
    margin: 2px;
}